 body {
	margin: 0px;
	background: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
  margin-left: 0px;
 }
 /*  heading */
 h1 {
   text-align: center;
   font-family; 'Helvetica', 'sans-serif' ;
   color: black;
   font-size:30px;
 }
/*  Navigation bar */
 nav ul {
margin: 0;
padding: 0;
list-style: none;
}
/*  Navigation bar */
nav li {
display: inline-block;
margin-left: 70px;
padding-top: 23px;

position: relative;
}
/*  Navigation bar */
nav a {
color: #444;
text-decoration: none;
text-transform: uppercase;
font-size: 14px;
}
nav a:hover {
color: 	#FFDF00;
}
/*  Navigation bar */
nav a::before {
content: '';
display: block;
height: 5px;
background-color: #444;

position: absolute;
top: 0;
width: 0%;

transition: all ease-in-out 250ms;
}
/*  Navigation bar */
nav a:hover::before {
width: 100%;
}

/*  Navigation bar */
  .header {
padding: 30px;
text-align: center;
background: white;
color: white;
font-size: 30px;
}
  .ce_me {
    color: #093fab;
   font-style: normal;
  }
  .moduil {
    color: red;
  }
  .macnamh {
    color: #d9c214;
  }
  .rann {
    color: #1477d9;
  }
  .crib {
    color: #10de1d;
  }
  .name {
    margin: 25px auto;
  }
  .row {
  width: 100%;
  text-align: center;
  background-image: url(belfast.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
  .type {
    text-align: center;
    color: white;
    padding-top: 300px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
  }
  .row p {
   animation: animated-text 4s steps(29,end) 1s 1 normal both,
              animated-cursor 600ms steps(29,end) infinite;
 }

 .row p: nth-child(2)
 {
     white-space:nowrap;
     overflow:hidden;
    animation: animated-text2 4s steps(29,end) 1s 1 normal both;
     -webkit-animation-delay: 5s;
     animation-delay: 5s;
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards;
 }

 /* text animation */

 @keyframes animated-text{
   from{width: 0;}
   to{width: 472px;}
 }

 @keyframes animated-text2{
   from{width: 0;}
   to{width: 472px;}
 }

 /* cursor animations */

 @keyframes animated-cursor{
   from{border-right-color: rgba(0,255,0,.75);}
   to{border-right-color: transparent;}
 }
